/* 商品詳細画面スタイル */
.item-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
/* 左側コンテンツグループ */
/* 商品画像 */
.item-show-left {
    width: 500px;
    height: 500px;
    background-color: #D9D9D9;
    border-radius: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.show-img {
    width: 500px;
    height: 500px;
}

/* 右側コンテンツグループ */
.item-name {
    margin-bottom: 0px;
    margin-top: 0px;
}

.item-brand {
    margin-top: 0px;
}


.show-product-actions {
    display: flex;
}

.show-icon-group {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.like-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-icon {
    width: 40px;
    height: 40px;
    margin: 1px auto;
}

.nice-icon {
    color: #5F5F5F;
    width: 40px;
    height: 40px;
}

.nice-icon.liked {
    color: #facc15;
}

.show-icon-numbers {
    margin: 0px;
    font-size: 0.9em;
}

.show-purchase {
    display: flex;
    color: #FFFFFF;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 480px;
    height: 100%;
    border-radius: 4px;
    background: #FF0000;
    text-decoration: none;
}

.show-subtitle{
    color: #000;
    font-size: 36px;
    font-weight: bold;
}

.information-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
}
.information-title{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-right: 1em;
}
.category-label {
    background-color: #f0f0f0;
    color: #333;
    padding: 0.3em 0.8em;
    margin-right: 0.5em;
    border-radius: 1em;
    font-size: 0.9em;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 480px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.comments-title {
    color: #5F5F5F;
    font-size: 36px;
    font-weight: bold;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #D9D9D9;
}
.username {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.comment-content {
    width: 480px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.comment-form-title {
    color: #000;
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 0;
}

.comment-textarea {
    width: 480px;
    height: 246px;
    padding: 0.5rem;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0;
}



.show-button {
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    width: 480px;
    height: 40px;
    border-radius: 4px;
}