

.checkout-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        padding: 50px;
        text-align: center;
}

.checkout-text {
    font-size: 24px;
    color: #000000;
    margin: 30 auto;
    text-align: center;
}

.auth-button {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    margin-top: 20px;
}
.resend-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.resend-button {
    background: none;
    border: none;
    color: #0073CC;
    font-size: 20px;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
}
